p { 
    color: green;
}
h1 { 
color: red;
font-weight: bold;
}
.headingTitle { 
    color: green;
}

#mainTitle { 
    color:yellow;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 100px;
}

.contentDiv { 
    color: green;
}

span {
    color: lightblue;
}